
<% if (user){%>
<form method="GET" action="/locations/login">
    <%if (authorizedUser){%>
        Logged in as <%=role%><br><a href="/locations/logout">Employee Logout</a>
    <%} else {%>
<a href="/locations/login">Employee Login</a>
    <%}%>
</form>
<%}%>
</main>
</body>
</html>