<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Ubuntu&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://use.typekit.net/gad8qbh.css">
  <title><%= title %></title>
</head>
<body>
    <div id="top"> <image id="logo" src="images/humanhelplogoSimpleYellow.png"></image>
    <h1 id="slogan">Human Help Fast</h1><% if (user) {%> <img class=avatar src="<%= user.avatar %>"><%}%></div>
  <nav>
    <% if (user) {%>
    <a href=" /">Help</a>
    <a href="/users">People</a>
    <a href="/requests">Requests</a>
    <%}%>
    <% if (user) { %>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/auth/google">Login</a>
    <% } %>
  </nav>
  <main>