<%- include('./partials/header') %>

<h1>How can we help you?</h1>
<form >
<div class="textPadding">
    <textarea id="initialQuery" 
        maxlength="150" 
        autofocus="true" 
        required="true"
        name="initialQuery">
    </textarea>
</div>
<p>
<a href="/requests/determineLocation"><button type="button" id="submitInitialQueryButton">Help Me</button></a>
</p>
</form>

<%- include('./partials/footer') %>
