<%- include('./partials/header') %>

<h1>How can we help you?</h1>

<form action="requests" method="POST" >
    <div class="textPadding">
        <textarea id="initialQuery" 
            maxlength="150" 
            minlength="8"
            autofocus="true" 
            required="true"
            name="initialQuery">
        </textarea>
    </div>

    <label for="locationInput" class="hidden">Select Location</label>
    <input id=locationInput type="text"placeholder="select location" list="locationsList" required="true"/>
    <datalist id="locationsList">
            <option value="Narnia Home Depot"></option>
            <option value="Narnia Best Buy"></option>
    </datalist>
<button type="submit" id="submitInitialQueryButton">Help Me</button>
</form>

<%- include('./partials/footer') %>
