<%- include('./partials/header') %>

<h1>How can we help you?</h1>
<form>
<textarea id="initialQuery" 
maxlength="250" 
autofocus="true" 
required="true"
name="initialQuery"></textarea>
<p>
<button type="submit" id="submitInitialQueryButton">Help Me</button>
</p>
</form>

<%- include('./partials/footer') %>
