<%- include('../partials/header') %>
<h1>Provide Location Password to Access this Resource</h1>
<form action="/auth/store" method="POST">
    <input type="password" name="password"  placeholder="enter the password for this location">
</form>
<%- include('../partials/footer') %>